# IDE
boot/**/.vscode/

# Keil MDK build output
boot/projects/**/MDK/output/
boot/**/*.uvguix.*

# JLink
boot/**/JLinkLog.txt
boot/**/JLinkSettings.ini

# IAR build output
boot/projects/**/EWARM/settings/

# GCC build output
boot/projects/**/GCC/obj/
